body{
    background-color:#f3f1ff;
}
.container-fluid{
    max-width: 870px;
    padding-bottom: 20px;
}
.navbar img{
    width: 51px;
}
.player img{
    width: 56px;
}
main{
    max-width: 870px;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.top-border{
    max-width: 807px;
    border: 1px solid #D1D1D1;
}
.top-blog{
    padding-top: 20px;
}
.card-blog{
    padding: 20px; 
}
.card-blog img{
    width: 177px;
    height: 117px;
}
main h3{
    padding: 20px;
    color: #562EFF;
}
.latest-cource{
    margin-top: 30px;
    border-radius: 10px;
}
.card-cource img{
    width: 224px;
    height: 104px;
}
.card-cource{
    margin: 20px;
    filter: drop-shadow(0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05))
}
.card-body1{
    padding-top: 10px;
}
#footer-img1{
    width: 74.76px;
    Height: 11.81px;
    margin-top: 5px;
}
#footer-img2{
    Width: 20.03px;
    height: 20.03px;
}
.footer-bg{
    Width: 94.83px;
    Height: 20px;
    background: #FEE5DF;
    border-radius: 14.6913px;
    margin-left: 20px;
}